<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
{% if 'username' not in login_session %}
<header>
	<a href="/login"> Log In/Sign In </a></br>
</header>
{% else %}
<header>
	<img src="{{ login_session['picture'] }}" class="profile-pic">
	<span>Welcome {{ login_session['username'] }}</span></br>
	<a href="/gdisconnect"> Log out </a>
</header>
{% endif %}

<div class='container'>
	<h1 class='welcome'> Welcome to Kitty Catalogs!</h1>
	<h2 class='site-description'> Find your favorite cat here today and see what kind of cool stuff they've got! </h2>
	<h2> The Cat-a-log: </h2>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class='flashmessage'><h2> {{message}} </h2></div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	<div class="catalogs">
		{% for cat in cats %}
		<h2><a href="{{url_for('catitems', id = cat.id)}}">{{cat.name}}</a></h2>
		<a href="{{url_for('editcat', id = cat.id)}}">edit</a>
		<a href="{{url_for('deletecat', id = cat.id)}}">delete</a>
		{% endfor %}
	</div>
	<div calss="recents">

	</div>
	<div class="add-new-kitty">
		<p>Don't see your favorite kitty here ? <a href="{{url_for('newcat')}}"> Add one now!</a> </p>
	</div>
</div>
</body>
</html>